<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.chenxu.maciphone.probe</string>
	<key>CFBundleName</key>
	<string>Probe</string>
	<key>NSCameraUsageDescription</key>
	<string>检测到有人操作 Mac 时抓拍照片。</string>
</dict>
</plist>
